
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
public/api-log


# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot
storage/*.key
storage/api-docs/*.json
/storage/api-docs/*.json
/storage/fonts/*
.env
Homestead.yaml
Homestead.json
package-lock.json
/.vagrant
.phpunit.result.cache
.idea
composer.lock
_ide_helper.php
.phpstorm.meta.php
Dockerfile
docker-compose*
/.project
/.storage
# local folder for documentation
/.readme
.make
